.body-index,
.body-index * {
  box-sizing: border-box;
}
.body-index {
  padding: 4rem 3.1875rem 4rem 3.1875rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: 67.5rem;
  position: relative;
  overflow: hidden;
}
.nav {
  padding: 1rem 0rem 0rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.a {
  background: #c7c7c7;
  border-style: solid;
  border-color: #000000;
  border-width: 0.0625rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 11.1875rem;
  height: 4.1875rem;
  position: relative;
  overflow: hidden;
}
.start {
  color: #000000;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  position: relative;
}
.a2 {
  background: #42abc3;
  border-radius: var(--var-sds-size-radius-full, 624.9375rem);
  border-style: solid;
  border-color: #205f6d;
  border-width: 0.3125rem 0.3125rem 0.9375rem 0.3125rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 11.1875rem;
  height: 4.1875rem;
  position: relative;
  overflow: hidden;
}
.exit {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  position: relative;
}
